<section
  style="height: 269px; background: #45b1d8"
  class="flex items-center grid-cols-3 self-start"
>
  <div class="grow text-center">
    <h2
      class="text-white-600"
      style="font-size: 28px; color: white; font-weight: 600"
    >
      Don’t feel like <br />
      making the trek?
    </h2>
    <p style="font-size: 20px; padding-top: 16px; color: white">
      Delivery is available through <br />
      Cascadian Courier Collective - <br />
      a bike delivery service.
    </p>
    <p
      style="
        padding-top: 16px;
        font-size: 20px;
        color: white;
        text-decoration: underline;
      "
    >
      <b>My Menu Helper</b>
    </p>
  </div>
  <div class="grow text-center">
    <h2
      class="text-white-600"
      style="font-size: 28px; color: white; font-weight: 600"
    >
      Hours
    </h2>
    <div
      style="
        border: 1px dashed #ffffff;
        box-sizing: border-box;
        border-radius: 16px;
        width: 12em;
        margin: 10px auto 10px auto;
      "
    >
      <p style="font-size: 20px; color: white; padding: 25px">
        WED - SUN <br />
        11am - 8pm
      </p>
    </div>
  </div>
  <div class="grow text-center">
    <h2
      class="text-white-600"
      style="font-size: 28px; color: white; font-weight: 600"
    >
      Address
    </h2>
    <p style="font-size: 20px; padding-top: 16px; color: white">
      1290 W. 7th Ave <br />
      Eugene, OR 97402 <br />
      (541)-505-9175
    </p>
  </div>
</section>
